<div styler="layoutRow">
  <div styler="layoutSide">
    <kit-menu [direction]="'vertical'">
      <a [kitMenuItem] [routerLink]="['']">Overview</a>
      <kit-menu-group>
        <kit-menu-group-title>Docs</kit-menu-group-title>
        <a [kitMenuItem] [routerLink]="['docs/importing']">Importing</a>
      </kit-menu-group>
      <kit-menu-group>
        <kit-menu-group-title>Components</kit-menu-group-title>
        <a [kitMenuItem] [routerLink]="['modules/accordion']">Accordion</a>
        <a [kitMenuItem] [routerLink]="['modules/alert']">Alert</a>
        <a [kitMenuItem] [routerLink]="['modules/auto-complete']">Auto-complete</a>
        <a [kitMenuItem] [routerLink]="['modules/badge']">Badge</a>
        <a [kitMenuItem] [routerLink]="['modules/button']">Button</a>
        <a [kitMenuItem] [routerLink]="['modules/checkbox']">Checkbox</a>
        <a [kitMenuItem] [routerLink]="['modules/color-picker']">Color-picker</a>
        <a [kitMenuItem] [routerLink]="['modules/date-picker']">Date-picker</a>
        <a [kitMenuItem] [routerLink]="['modules/dropdown-menu']">Dropdown-menu</a>
        <a [kitMenuItem] [routerLink]="['modules/form']">Form</a>
        <a [kitMenuItem] [routerLink]="['modules/input']">Input</a>
        <a [kitMenuItem] [routerLink]="['modules/loading-bar']">Loading-bar</a>
        <a [kitMenuItem] [routerLink]="['modules/menu']">Menu</a>
        <a [kitMenuItem] [routerLink]="['modules/modal']">Modal</a>
        <a [kitMenuItem] [routerLink]="['modules/notification']">Notification</a>
        <!--<a [kitMenuItem] [routerLink]="['modules/pagination']">Pagination</a>-->
        <!--<a [kitMenuItem] [routerLink]="['modules/popover']">Popover</a>-->
        <a [kitMenuItem] [routerLink]="['modules/radio']">Radio</a>
        <a [kitMenuItem] [routerLink]="['modules/select']">Select</a>
        <a [kitMenuItem] [routerLink]="['modules/tabs']">Tabs</a>
        <a [kitMenuItem] [routerLink]="['modules/tag']">Tag</a>
        <a [kitMenuItem] [routerLink]="['modules/textarea']">Textarea</a>
        <a [kitMenuItem] [routerLink]="['modules/toggle']">Toggle</a>
        <a [kitMenuItem] [routerLink]="['modules/tooltip']">Tooltip</a>
      </kit-menu-group>
      <kit-menu-separator></kit-menu-separator>
      <a [kitMenuItem] href="https://github.com/ngx-kit/ngx-kit/releases" target="_blank">Changelog</a>
      <kit-menu-separator></kit-menu-separator>
      <a [kitMenuItem] href="https://github.com/ngx-kit/ngx-kit" target="_blank">GitHub</a>
      <a [kitMenuItem] href="https://discord.gg/66Tt9WT" target="_blank">Discord</a>
    </kit-menu>
  </div>
  <div styler="layoutContent">
    <div styler="layoutContentWrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
