<kit-layout styler="layout">
  <kit-layout-side styler="side">
    <kit-menu [direction]="'vertical'">
      <a [kitMenuItem] [routerLink]="['']">Overview</a>
      <a [kitMenuItem] [routerLink]="['getting-started']">Getting Started</a>
      <kit-menu-group>
        <div title>Modules</div>
        <a [kitMenuItem] [routerLink]="['modules/accordion']">Accordion</a>
        <a [kitMenuItem] [routerLink]="['modules/auto-complete']">Auto-complete</a>
        <a [kitMenuItem] [routerLink]="['modules/badge']">Badge</a>
        <a [kitMenuItem] [routerLink]="['modules/buttons']">Buttons</a>
      </kit-menu-group>
      <kit-menu-separator></kit-menu-separator>
      <a [kitMenuItem] href="https://github.com/ngx-kit/ngx-kit/releases" target="_blank">Changelog</a>
      <kit-menu-separator></kit-menu-separator>
      <a [kitMenuItem] href="https://github.com/ngx-kit/ngx-kit" target="_blank">GitHub</a>
      <a [kitMenuItem] href="https://discord.gg/66Tt9WT" target="_blank">Discord</a>
    </kit-menu>
  </kit-layout-side>
  <kit-layout-content styler="content">
    <router-outlet></router-outlet>
  </kit-layout-content>
</kit-layout>
