$borderRadius: 3px;

:host {
  background-image: none;
  border: 0;
  border-radius: $borderRadius;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: background;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  &.color {
    &-default {
      background: #cccccc;
      color: #333333;
      &:hover {
        background: #bbbbbb;
      }
      &.checked {
        background: #aaaaaa;
      }
    }
    &-primary {
      background: #2399e5;
      color: #ffffff;
      &:hover {
        background: #248acd;
      }
      &.checked {
        background: #1e80cd;
      }
    }
  }
  &.size {
    &-s {
      font-size: .85rem;
      padding: 2px 6px;
    }
    &-m {
      font-size: 1rem;
      padding: 4px 12px;
    }
    &-l {
      font-size: 1.15rem;
      padding: 8px 20px;
    }
  }
  &.groupDirection {
    &-row {
      border-radius: 0;
      &:first-child {
        border-bottom-left-radius: $borderRadius;
        border-top-left-radius: $borderRadius;
      }
      &:last-child {
        border-bottom-right-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }
    }
    &-column {
      border-radius: 0;
      &:first-child {
        border-top-left-radius: $borderRadius;
        border-top-right-radius: $borderRadius;
      }
      &:last-child {
        border-bottom-left-radius: $borderRadius;
        border-bottom-right-radius: $borderRadius;
      }
    }
  }
  .icon + .content:not(:empty) {
    padding-left: 8px;
  }
}
