<app-title [link]="'badge'">Badge</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-badge [count]="150"></kit-badge>
</app-demo>

<app-demo [content]="content" [id]="'demo-colors'">
  <kit-badge [count]="2" [color]="'brand'"></kit-badge>
  <kit-badge [count]="3" [color]="'success'"></kit-badge>
  <kit-badge [count]="4" [color]="'warning'"></kit-badge>
  <kit-badge [count]="5" [color]="'error'"></kit-badge>
</app-demo>

<app-demo [content]="content" [id]="'demo-sizes'">
  <kit-badge [count]="66" [size]="'s'"></kit-badge>
  <kit-badge [count]="66" [size]="'m'"></kit-badge>
  <kit-badge [count]="66" [size]="'l'"></kit-badge>
</app-demo>
