:host {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

$boxSize: 40px;
$borderWidth: 1px;

.toggle {
  cursor: pointer;
  margin-left: $boxSize + 8px;
  position: relative;
  &::before {
    background-color: #ffffff;
    border: $borderWidth solid #becad6;
    border-radius: $boxSize;
    box-shadow: none;
    content: "";
    display: block;
    height: $boxSize / 2;
    left: 0;
    margin-left: - $boxSize - 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 250ms cubic-bezier(.27, .01, .38, 1.06);
    width: $boxSize;
  }
  &::after {
    background: #becad6;
    border-radius: ($boxSize / 2 - 4px) / 2;
    content: "";
    height: $boxSize / 2 - 4px;
    left: $borderWidth + 2px;
    margin-left: - $boxSize - 8px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 300ms cubic-bezier(.27, .01, .38, 1.06);
    width: $boxSize / 2 - 4px;
  }
  &.-checked {
    &::before {
      background: #2399e5;
      border-color: #2399e5;
    }
    &::after {
      background: #ffffff;
      margin-left: - $boxSize / 2 - 8px;
    }
    &:active {
      &::after {
        margin-left: - $boxSize / 2 - 12px;
      }
    }
  }
  &.-focused {
    &::before {
      border-color: #2399e5;
      box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
    }
  }
  &.-has-errors {
    &::before {
      border-color: #ff0c09;
    }
    &.-checked::before {
      background: #ff0c09;
    }
  }
  &.-disabled {
    cursor: default;
    &.-checked {
      &::before {
        background: #9da8b4;
        border-color: #9da8b4;
      }
      &::after {
        background: #ffffff;
      }
    }
    &::before {
      background: #f6f6f6;
      border-color: #becad6;
    }
  }
  &:active {
    &::after {
      width: $boxSize / 2;
    }
  }
}
