@import url("https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:300,400,700");

body {
  color: #444444;
  font-family: "Source Sans Pro", "Arial";
  font-size: 16px;
  line-height: 1.35rem;
  margin: 0;
  padding: 0;
}

button, input, textarea, select {
  font-family: "Source Sans Pro", "Arial";
}

h2 {
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0;
}

table {
  border: 1px solid #e9e9e9;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
}

table th {
  border: 1px solid #e9e9e9;
  font-weight: 600;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
}

table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}

table td p {
  margin: 0;
}

code {
  background: #f7f7f7;
  border-radius: 2px;
  font-size: .75em;
  padding: 2px 4px;
}

pre {
  background: #f7f7f7;
  margin: 0;
  overflow-x: auto;
  padding: 8px;
}

pre code {
  background: transparent;
  padding: 0;
}

tt, code, kbd, samp {
  font-family: "Droid Sans Mono", monospace;
}
