<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'default'}">Tooltip Default</span>
<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'primary'}">Tooltip Primary</span>
<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'info'}">Tooltip Info</span>
<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'success'}">Tooltip Success</span>
<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'warning'}">Tooltip Warning</span>
<span [kitTooltip]="'hello'" [kitTooltipOptions]="{color: 'error'}">Tooltip Error</span>
