<div>
  <a routerLink="ui-accordion">accordion</a> |
  <a routerLink="ui-alert">alert</a> |
  <a routerLink="ui-autocomplete">autocomplete</a> |
  <a routerLink="ui-badge">badge</a> |
  <a routerLink="ui-breadcrumbs">breadcrumbs</a> |
  <a routerLink="ui-button">button</a> |
  <a routerLink="ui-carousel">carousel</a> |
  <a routerLink="ui-checkbox">checkbox</a> |
  <a routerLink="ui-custom-select">custom-select</a> |
  <a routerLink="ui-date-picker">date-picker</a> |
  <a routerLink="ui-dialog">dialog</a> |
  <a routerLink="ui-drawer">drawer</a> |
  <a routerLink="ui-dropdown">dropdown</a> |
  <a routerLink="ui-ext-select">ext-select</a> |
  <a routerLink="ui-file">file</a> |
  <a routerLink="ui-form">form</a> |
  <a routerLink="ui-loading-bar">loading-bar</a> |
  <a routerLink="ui-modal">modal</a> |
  <a routerLink="ui-notification">notification</a> |
  <a routerLink="ui-popup">popup</a> |
  <a routerLink="ui-radio">radio</a> |
  <a routerLink="ui-rating">rating</a> |
  <a routerLink="ui-scroll">scroll</a> |
  <a routerLink="ui-select">select</a> |
  <a routerLink="ui-slider">slider</a> |
  <a routerLink="ui-tabs">tabs</a> |
  <a routerLink="ui-text">text</a> |
  <a routerLink="ui-toggle">toggle</a> |
  <a routerLink="ui-tooltip">tooltip</a> |
  <a routerLink="ui-vertical-menu">vertical-menu</a>
</div>

<div class="demo">
  <router-outlet></router-outlet>
</div>
