<h2>Accordion</h2>
<demo-accordion-default></demo-accordion-default>
<h5>Multiple</h5>
<demo-accordion-multiple></demo-accordion-multiple>
<h5>Activate first</h5>
<demo-accordion-first></demo-accordion-first>
<h5>Gen</h5>
<demo-accordion-gen></demo-accordion-gen>

<h2>Alert</h2>
<demo-alert-default></demo-alert-default>
<h5>color</h5>
<demo-alert-color></demo-alert-color>
<h5>title</h5>
<demo-alert-title></demo-alert-title>
<h5>closable</h5>
<demo-alert-closable></demo-alert-closable>

<h2>Autocomplete</h2>
<demo-autocomplete-default></demo-autocomplete-default>
<h5>Select mode</h5>
<demo-autocomplete-select-mode></demo-autocomplete-select-mode>
<h5>Option object</h5>
<demo-autocomplete-option-object></demo-autocomplete-option-object>
<h5>On focus</h5>
<demo-autocomplete-on-focus></demo-autocomplete-on-focus>
<h5>Debounce</h5>
<demo-autocomplete-debounce></demo-autocomplete-debounce>
<h5>Option template</h5>
<demo-autocomplete-option-template></demo-autocomplete-option-template>

<h2>Badge</h2>
<demo-badge-default></demo-badge-default>
<h5>color</h5>
<demo-badge-color></demo-badge-color>
<h5>size</h5>
<demo-badge-size></demo-badge-size>
<h5>position</h5>
<demo-badge-position></demo-badge-position>

<h2>Breadcrumbs</h2>
<demo-breadcrumbs-default></demo-breadcrumbs-default>

<h2>Button</h2>
<demo-button-default></demo-button-default>
<h5>Color</h5>
<demo-button-color></demo-button-color>
<h5>Size</h5>
<demo-button-size></demo-button-size>
<h5>Group - default</h5>
<demo-button-group-default></demo-button-group-default>
<h5>Group - vertical</h5>
<demo-button-group-vertical></demo-button-group-vertical>
<h5>Group - checkbox</h5>
<demo-button-group-checkbox></demo-button-group-checkbox>
<h5>Group - radio</h5>
<demo-button-group-radio></demo-button-group-radio>

<h2>Carousel</h2>
<demo-carousel-default></demo-carousel-default>
<h5>Gen</h5>
<demo-carousel-gen></demo-carousel-gen>

<h2>Checkbox</h2>
<demo-checkbox-default></demo-checkbox-default>

<h2>Custom-select</h2>
<demo-custom-select-default></demo-custom-select-default>

<h2>Date-picker</h2>
<demo-date-picker-default></demo-date-picker-default>
<h5>Popup</h5>
<demo-date-picker-popup></demo-date-picker-popup>

<h2>Form</h2>
<demo-form-default></demo-form-default>
<h5>Reactive</h5>
<demo-form-reactive></demo-form-reactive>
<h5>Aligned</h5>
<demo-form-aligned></demo-form-aligned>
<h5>Inline</h5>
<demo-form-inline></demo-form-inline>
<h5>Combined</h5>
<demo-form-combined></demo-form-combined>

<h2>Loading-bar</h2>
<demo-loading-bar-global></demo-loading-bar-global>
<h5>Local</h5>
<demo-loading-bar-local></demo-loading-bar-local>

<h2>Modal</h2>
<demo-modal-default></demo-modal-default>
<h5>Using service</h5>
<demo-modal-using-service></demo-modal-using-service>
<h5>Using template</h5>
<demo-modal-using-template></demo-modal-using-template>

<h2>Notification</h2>
<demo-notification-default></demo-notification-default>
<h5>Position</h5>
<demo-notification-position></demo-notification-position>
<h5>Duration</h5>
<demo-notification-duration></demo-notification-duration>

<h2>Radio</h2>
<demo-radio-default></demo-radio-default>

<h2>Rating</h2>
<demo-rating-default></demo-rating-default>

<h5>Icon</h5>
<demo-rating-icon></demo-rating-icon>

<h2>Select</h2>
<demo-select-default></demo-select-default>

<h2>vertical-menu</h2>
<demo-vertical-menu-default></demo-vertical-menu-default>

<h2>Slider</h2>
<demo-slider-default></demo-slider-default>
<h5>Range</h5>
<demo-slider-range></demo-slider-range>

<h2>Tabs</h2>
<demo-tabs-default></demo-tabs-default>
<h5>Gen</h5>
<demo-tabs-gen></demo-tabs-gen>

<h2>Text</h2>
<h5>Input</h5>
<demo-text-input></demo-text-input>
<h5>Textarea</h5>
<demo-text-textarea></demo-text-textarea>

<h2>Toggle</h2>
<demo-toggle-default></demo-toggle-default>

<h2>Tooltip</h2>
<demo-tooltip-default></demo-tooltip-default>
<h5>Position</h5>
<demo-tooltip-position></demo-tooltip-position>
<h5>Color</h5>
<demo-tooltip-color></demo-tooltip-color>
