<h2>Accordion</h2>
<demo-accordion-default></demo-accordion-default>

<h2>Alert</h2>
<demo-alert-default></demo-alert-default>
<h5>color</h5>
<demo-alert-color></demo-alert-color>
<h5>title</h5>
<demo-alert-title></demo-alert-title>
<h5>closable</h5>
<demo-alert-closable></demo-alert-closable>

<h2>Badge</h2>
<demo-badge-default></demo-badge-default>
<h5>color</h5>
<demo-badge-color></demo-badge-color>
<h5>size</h5>
<demo-badge-size></demo-badge-size>
<h5>position</h5>
<demo-badge-position></demo-badge-position>
