<h2>Accordion</h2>
<demo-accordion-default></demo-accordion-default>

<h2>Alert</h2>
<demo-alert-default></demo-alert-default>
<h5>color</h5>
<demo-alert-color></demo-alert-color>
<h5>title</h5>
<demo-alert-title></demo-alert-title>
<h5>closable</h5>
<demo-alert-closable></demo-alert-closable>

<h2>Badge</h2>
<demo-badge-default></demo-badge-default>
<h5>color</h5>
<demo-badge-color></demo-badge-color>
<h5>size</h5>
<demo-badge-size></demo-badge-size>
<h5>position</h5>
<demo-badge-position></demo-badge-position>

<h2>Button</h2>
<demo-button-default></demo-button-default>
<h5>Color</h5>
<demo-button-color></demo-button-color>
<h5>Size</h5>
<demo-button-size></demo-button-size>
<h5>Group - default</h5>
<demo-button-group-default></demo-button-group-default>
<h5>Group - vertical</h5>
<demo-button-group-vertical></demo-button-group-vertical>
<h5>Group - checkbox</h5>
<demo-button-group-checkbox></demo-button-group-checkbox>
<h5>Group - radio</h5>
<demo-button-group-radio></demo-button-group-radio>

<h2>Input</h2>
<demo-input-default></demo-input-default>
<h5>Math</h5>
<demo-input-math></demo-input-math>
<h5>Checkbox</h5>
<demo-input-checkbox></demo-input-checkbox>
<h5>Radio</h5>
<demo-input-radio></demo-input-radio>

<h2>Loading-bar</h2>
<demo-loading-bar-default></demo-loading-bar-default>

<h2>Modal</h2>
<demo-modal-default></demo-modal-default>

<h2>Select</h2>
<demo-select-default></demo-select-default>

<h2>Tabs</h2>
<demo-tabs-default></demo-tabs-default>

<h2>Textarea</h2>
<demo-textarea-default></demo-textarea-default>

<h2>Tooltip</h2>
<demo-tooltip-default></demo-tooltip-default>
<h5>Position</h5>
<demo-tooltip-position></demo-tooltip-position>
<h5>Color</h5>
<demo-tooltip-color></demo-tooltip-color>
