<h2>Accordion</h2>
<app-kit-accordion-demo-multiple></app-kit-accordion-demo-multiple>

<h2>Alert</h2>
<kit-alert [color]="'default'">Default message text</kit-alert>
<kit-alert [closable]="true" [color]="'default'">Default message text</kit-alert>
<kit-alert [closable]="true" [closeText]="'Close me please'" [color]="'default'">Default message text</kit-alert>
<kit-alert [closable]="true" [color]="'primary'">Primary message text</kit-alert>
<kit-alert [closable]="true" [color]="'info'">Info message text</kit-alert>
<kit-alert [closable]="true" [color]="'success'">Success message text</kit-alert>
<kit-alert [closable]="true" [color]="'warning'">Warning message text</kit-alert>
<kit-alert [closable]="true" [color]="'error'">Error message text</kit-alert>

<h2>Auto-complete</h2>
<app-kit-auto-complete-demo-default></app-kit-auto-complete-demo-default>

<h2>Badge</h2>
<h4>Color</h4>
<app-kit-badge-demo-color></app-kit-badge-demo-color>
<h4>Size</h4>
<app-kit-badge-demo-size></app-kit-badge-demo-size>

<h2>Button</h2>
<h4>Color</h4>
<app-kit-button-demo-color></app-kit-button-demo-color>
<h4>Size</h4>
<app-kit-button-demo-size></app-kit-button-demo-size>
<h4>Disabled</h4>
<app-kit-button-demo-disabled></app-kit-button-demo-disabled>

<h2>Button-group</h2>
<app-kit-button-group-demo-multiple></app-kit-button-group-demo-multiple>

<h2>Checkbox</h2>
<app-kit-checkbox-demo-default></app-kit-checkbox-demo-default><br>
<kit-checkbox [disabled]="true">Disabled checkbox</kit-checkbox>

<h2>Color-picker</h2>
<h4>Default</h4>
<app-kit-color-picker-demo-default></app-kit-color-picker-demo-default>
<h4>Popup</h4>
<app-kit-color-picker-demo-popup></app-kit-color-picker-demo-popup>

<h2>Date-picker</h2>
<app-kit-date-picker-demo-default></app-kit-date-picker-demo-default>

<h2>Dropdown-menu</h2>
<app-kit-dropdown-menu-demo-default></app-kit-dropdown-menu-demo-default>

<h2>Form</h2>
<app-kit-form-demo-default></app-kit-form-demo-default>

<h2>Input</h2>
<kit-input></kit-input>
<kit-input [placeholder]="'Placeholder'"></kit-input>
<kit-input [ngModel]="'Disabled input'" [disabled]="true"></kit-input>

<h2>Loading-bar</h2>
<app-kit-loading-bar-demo-default></app-kit-loading-bar-demo-default>

<h2>Menu</h2>
<h4>Default</h4>
<app-kit-menu-demo-default></app-kit-menu-demo-default>
<h4>Vertical</h4>
<app-kit-menu-demo-vertical></app-kit-menu-demo-vertical>
<h4>Multi sub</h4>
<app-kit-menu-demo-multi-sub></app-kit-menu-demo-multi-sub>
<h4>Organized</h4>
<app-kit-menu-demo-organized></app-kit-menu-demo-organized>
<h4>Disabled item</h4>
<app-kit-menu-demo-disabled></app-kit-menu-demo-disabled>

<h2>Modal</h2>
<app-kit-modal-demo-default></app-kit-modal-demo-default>

<h2>Notification</h2>
<app-kit-notification-demo-color></app-kit-notification-demo-color>

<h2>Radio</h2>
<kit-radio [value]="'first'" [(ngModel)]="radioSelected">First</kit-radio>
<kit-radio [value]="'second'" [(ngModel)]="radioSelected">Second</kit-radio>
<kit-radio [value]="'third'" [(ngModel)]="radioSelected" [disabled]="true">Third (disabled)</kit-radio>

<h2>Select</h2>
<h4>Native</h4>
<app-kit-select-demo-default></app-kit-select-demo-default>
<h4>Dropdown</h4>
<app-kit-select-demo-dropdown></app-kit-select-demo-dropdown>
<h4>List</h4>
<app-kit-select-demo-list></app-kit-select-demo-list>
<h4>Option template</h4>
<app-kit-select-demo-option-template></app-kit-select-demo-option-template>

<h2>Tabs</h2>
<app-kit-tabs-demo-default></app-kit-tabs-demo-default>

<h2>Tag</h2>
<app-kit-tag-demo-color></app-kit-tag-demo-color>

<h2>Textarea</h2>
<app-kit-textarea-demo-default></app-kit-textarea-demo-default>

<h2>Toggle</h2>
<app-kit-toggle-demo-default></app-kit-toggle-demo-default>

<h2>Tooltip</h2>
<app-kit-tooltip-demo-position></app-kit-tooltip-demo-position>
