<ui-accordion [multiple]="true">
  <ui-accordion-panel>
    <ui-accordion-title>Panel 1</ui-accordion-title>
    <ui-accordion-content *kitCollapse>
      Panel 1 content
    </ui-accordion-content>
  </ui-accordion-panel>
  <ui-accordion-panel>
    <ui-accordion-title>Panel 2</ui-accordion-title>
    <ui-accordion-content *kitCollapse>
      Panel 2 content
    </ui-accordion-content>
  </ui-accordion-panel>
  <ui-accordion-panel>
    <ui-accordion-title>Panel 3</ui-accordion-title>
    <ui-accordion-content *kitCollapse>
      Panel 3 content
    </ui-accordion-content>
  </ui-accordion-panel>
</ui-accordion>
