<div>
  <app-content-output [content]="content$ | async"></app-content-output>
</div>

<div>
  <app-demo [content]="demoMain$ | async">
    <kit-button>Click!</kit-button>
  </app-demo>

  <app-demo [content]="demoTypes$ | async">
    <kit-button [type]="'default'">Type=default</kit-button>
    <kit-button [type]="'primary'">Type=primary</kit-button>
    <kit-button [type]="'success'">Type=success</kit-button>
    <kit-button [type]="'warning'">Type=warning</kit-button>
    <kit-button [type]="'error'">Type=error</kit-button>
    <kit-button [type]="'link'">Type=link</kit-button>
  </app-demo>
</div>
