<div styler="left">
  <app-content-output [content]="content"></app-content-output>
</div>
<div styler="right">
  <app-demo [content]="content" [id]="'demo-main'">
    <kit-button>Click!</kit-button>
  </app-demo>
  <app-demo [content]="content" [id]="'demo-types'">
    <kit-button [type]="'default'">Type=default</kit-button>
    <kit-button [type]="'primary'">Type=primary</kit-button>
    <kit-button [type]="'success'">Type=success</kit-button>
    <kit-button [type]="'warning'">Type=warning</kit-button>
    <kit-button [type]="'error'">Type=error</kit-button>
    <kit-button [type]="'link'">Type=link</kit-button>
  </app-demo>
  <app-demo [content]="content" [id]="'demo-sizes'">
    <kit-button [size]="'xs'">Size=xs</kit-button>
    <kit-button [size]="'s'">Size=s</kit-button>
    <kit-button [size]="'m'">Size=m</kit-button>
    <kit-button [size]="'l'">Size=l</kit-button>
    <kit-button [size]="'xl'">Size=xl</kit-button>
  </app-demo>
  <app-demo [content]="content" [id]="'demo-disabled'">
    <kit-button [disabled]="true">Disabled</kit-button>
  </app-demo>
</div>
