<div styler="layoutRow">
  <div styler="layoutSide">
    <div styler="sideActions">
      <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="getCode()">Get code</button>
      <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="setCodeModalOpened = true">Load code</button>
    </div>
    <div styler="sideForm">
      <form>
        <app-block [schema]="schema"
                   [themeModel]="themeModel"
                   [closable]="3"
                   (change)="update()"></app-block>
      </form>
    </div>
  </div>
  <div [style.background]="themeModel.colors.background"
       [style.color]="themeModel.colors.invert"
       styler="layoutContent">
    <div styler="layoutContentWrapper">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<kit-modal [opened]="getCodeModalOpened">
  <kit-modal-header>Theme save</kit-modal-header>
  <kit-modal-body [style.width.px]="500">
    <kit-textarea [ngModel]="code"></kit-textarea>
  </kit-modal-body>
  <kit-modal-footer>
    <kit-button [color]="'primary'" (action)="getCodeModalOpened = false">Ok</kit-button>
  </kit-modal-footer>
</kit-modal>

<kit-modal [opened]="setCodeModalOpened">
  <kit-modal-header>Theme setup</kit-modal-header>
  <kit-modal-body [style.width.px]="500">
    <kit-textarea [(ngModel)]="code"></kit-textarea>
  </kit-modal-body>
  <kit-modal-footer>
    <kit-button (action)="setCodeModalOpened = false">Cancel</kit-button>
    <kit-button [color]="'primary'" (action)="setThemeFromCode()">Set</kit-button>
  </kit-modal-footer>
</kit-modal>
