<kit-layout styler="layout">
  <kit-layout-side styler="side">
    <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="update()">Update</button>
    <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="getCode()">Get code</button>
    <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="setCodeModal.open()">Load code</button>
    <div>
      <h4>Overview params</h4>
      <div>
        Background color:
        <kit-input [style.background]="overviewBackgroundColor"
                   [kitColorPickerPopup]
                   [(ngModel)]="overviewBackgroundColor"
                   styler="overviewColorBox">
        </kit-input>
      </div>
      <div>
        Text color:<br>
        <kit-input [style.background]="overviewTextColor"
                   [kitColorPickerPopup]
                   [(ngModel)]="overviewTextColor"
                   styler="overviewColorBox">
        </kit-input>
      </div>
    </div>
    <form #form="ngForm">
      <h4>Colors</h4>
      <app-colors-block [colors]="colorsModel"
                        (change)="changeColor($event)"></app-colors-block>
      <h4>Params sections</h4>
      <app-block [schema]="schema"
                 [themeModel]="themeModel"
                 [colorsModel]="colorsModel"></app-block>
    </form>
  </kit-layout-side>
  <kit-layout-content [style.background]="overviewBackgroundColor"
                      [style.color]="overviewTextColor"
                      styler="content">
    <div styler="container">
      <router-outlet></router-outlet>
    </div>
  </kit-layout-content>
</kit-layout>

<kit-modal #codeModal>
  <div header>Theme save</div>
  <div [style.width.px]="500" content>
    <kit-textarea [ngModel]="code"></kit-textarea>
  </div>
  <div footer>
    <kit-button [color]="'primary'" (action)="codeModal.close()">Ok</kit-button>
  </div>
</kit-modal>

<kit-modal #setCodeModal>
  <div header>Theme setup</div>
  <div [style.width.px]="500" content>
    <kit-textarea [(ngModel)]="code"></kit-textarea>
  </div>
  <div footer>
    <kit-button (action)="setCodeModal.close()">Cancel</kit-button>
    <kit-button [color]="'primary'" (action)="setThemeFromCode()">Set</kit-button>
  </div>
</kit-modal>
