<kit-layout styler="layout">
  <kit-layout-side styler="side">
    <div styler="sideActions">
      <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="update()">Update</button>
      <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="getCode()">Get code</button>
      <button [kitButton] [color]="'primary'" [size]="'xs'" (action)="setCodeModal.open()">Load code</button>
    </div>
    <div styler="sideForm">
      <h4>Overview params</h4>
      <div>
        Background color:
        <kit-input [style.background]="overviewBackgroundColor"
                   [kitColorPickerPopup]
                   [(ngModel)]="overviewBackgroundColor"
                   styler="overviewColorBox">
        </kit-input>
      </div>
      <div>
        Text color:<br>
        <kit-input [style.background]="overviewTextColor"
                   [kitColorPickerPopup]
                   [(ngModel)]="overviewTextColor"
                   styler="overviewColorBox">
        </kit-input>
      </div>
      <form #form="ngForm">
        <h4>Colors</h4>
        <app-colors-block [colors]="colorsModel"
                          (change)="changeColor($event)"
                          (delete)="deleteColor($event)"></app-colors-block>
        <h4>Params sections</h4>
        <app-block [schema]="schema"
                   [themeModel]="themeModel"
                   [colorsModel]="colorsModel"></app-block>
      </form>
    </div>
  </kit-layout-side>
  <kit-layout-content [style.background]="overviewBackgroundColor"
                      [style.color]="overviewTextColor"
                      styler="content">
    <div styler="container">
      <router-outlet></router-outlet>
    </div>
  </kit-layout-content>
</kit-layout>

<kit-modal #codeModal>
  <kit-modal-header>Theme save</kit-modal-header>
  <kit-modal-body [style.width.px]="500">
    <kit-textarea [ngModel]="code"></kit-textarea>
  </kit-modal-body>
  <kit-modal-footer>
    <kit-button [color]="'primary'" (action)="codeModal.close()">Ok</kit-button>
  </kit-modal-footer>
</kit-modal>

<kit-modal #setCodeModal>
  <kit-modal-header>Theme setup</kit-modal-header>
  <kit-modal-body [style.width.px]="500">
    <kit-textarea [(ngModel)]="code"></kit-textarea>
  </kit-modal-body>
  <kit-modal-footer>
    <kit-button (action)="setCodeModal.close()">Cancel</kit-button>
    <kit-button [color]="'primary'" (action)="setThemeFromCode()">Set</kit-button>
  </kit-modal-footer>
</kit-modal>
