<button [kitButton] [color]="'default'" [inverted]="true" [outlined]="true">Default color</button>
<button [kitButton] [color]="'primary'" [inverted]="true" [outlined]="true">Primary color</button>
<button [kitButton] [color]="'info'" [inverted]="true" [outlined]="true">Info color</button>
<button [kitButton] [color]="'success'" [inverted]="true" [outlined]="true">Success color</button>
<button [kitButton] [color]="'warning'" [inverted]="true" [outlined]="true">Warning color</button>
<button [kitButton] [color]="'error'" [inverted]="true" [outlined]="true">Error color</button>
