<app-title [link]="'badge'">Badge</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-badge [count]="150"></kit-badge>
</app-demo>

<app-demo [content]="content" [id]="'demo-color'">
  <kit-badge [count]="2" [color]="'default'"></kit-badge>
  <kit-badge [count]="2" [color]="'primary'"></kit-badge>
  <kit-badge [count]="2" [color]="'info'"></kit-badge>
  <kit-badge [count]="3" [color]="'success'"></kit-badge>
  <kit-badge [count]="4" [color]="'warning'"></kit-badge>
  <kit-badge [count]="5" [color]="'error'"></kit-badge>
</app-demo>

<app-demo [content]="content" [id]="'demo-size'">
  <kit-badge [count]="66" [size]="'s'"></kit-badge>
  <kit-badge [count]="66" [size]="'m'"></kit-badge>
  <kit-badge [count]="66" [size]="'l'"></kit-badge>
</app-demo>

<app-demo [content]="content" [id]="'demo-position'">
  <kit-badge [count]="54" [position]="'inline'"></kit-badge>
  <div [ngStyle]="{width: '50px', height: '50px', background: '#eee', margin: '16px', position: 'relative'}">
    <kit-badge [count]="55" [color]="'error'" [position]="'top-right'"></kit-badge>
    <kit-badge [count]="56" [color]="'warning'" [position]="'bottom-right'"></kit-badge>
    <kit-badge [count]="57" [color]="'success'" [position]="'bottom-left'"></kit-badge>
    <kit-badge [count]="58" [color]="'info'" [position]="'top-left'"></kit-badge>
  </div>
</app-demo>
