<div>
  <a routerLink="button">button</a> |
  <a routerLink="checkbox">checkbox</a> |
  <a routerLink="dialog">dialog</a> |
  <a routerLink="dropdown">dropdown</a> |
  <a routerLink="file">file</a> |
  <a routerLink="form">form</a> |
  <a routerLink="loading-bar">loading-bar</a> |
  <a routerLink="notification">notification</a> |
  <a routerLink="radio">radio</a> |
  <a routerLink="select">select</a> |
  <a routerLink="text">text</a> |
</div>

<div class="demo">
  <router-outlet></router-outlet>
</div>
