:host {
  border-bottom: 1px solid #eeeeee;
  color: #333333;
  cursor: pointer;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  &:last-child {
    border-bottom: 0;
  }
}
