<h3 styler="title">{{ demo.meta.title }}</h3>
<div *ngIf="readme"
     [innerHtml]="readme"
     styler="readme"></div>
<div styler="demo" [stylerState]="{inverted: inverted}">
  <ng-container *ngComponentOutlet="class"></ng-container>
</div>
<div styler="code">
  <ws-kit-tabs>
    <ws-kit-tabs-panel *ngFor="let file of demo.code"
                       [title]="file.file">
      <pre styler="codeSrc"><code [ngClass]="[file.language, 'language-' + file.language, 'hljs']"
              [innerHtml]="code[file.file]">
      </code></pre>
    </ws-kit-tabs-panel>
  </ws-kit-tabs>
</div>
