ul {
  list-style: none;
  margin: 0;
  padding: 8px;
}

a {
  border-radius: 3px;
  color: #b2b2b2;
  display: block;
  margin: 2px 0;
  padding: 6px 8px;
  text-decoration: none;
  &:hover {
    background: rgba(0, 0, 0, .6);
  }
  &.-active {
    background: rgba(0, 0, 0, .4);
  }
}
