:host {
  display: block;
  width: 100%;
}

.popup {
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, .15);
  box-sizing: border-box;
  margin: 4px 0;
  max-height: 90%;
  overflow-y: auto;
  width: 100%;
  .item {
    background-color: transparent;
    border: 0;
    cursor: default;
    display: block;
    overflow: hidden;
    padding: 8px;
    text-align: left;
    width: 100%;
    &:hover {
      background: #fafafa;
    }
    &.-active {
      background: #eeeeee;
    }
    &.-checked {
      background: #2399e5;
      color: #ffffff;
    }
  }
  .empty, .loading {
    color: #777777;
    padding: 16px;
    text-align: center;
  }
}
