:host {
  padding: 8px 8px;
  border-bottom: 1px solid #eeeeee;
  cursor: pointer;
  user-select: none;
  transition-duration: .25s;
  transition-property: background, border;
  &:hover {
    background: #e4e4e4;
    border-bottom-color: #eeeeee;
  }
  &.active {
    border-bottom-color: #2399e5;
  }
}
