<h3 class="title">{{ demo.meta.title }}</h3>
<div *ngIf="readme"
     [innerHtml]="readme"
     class="readme"></div>
<div class="demo">
  <ng-container *ngComponentOutlet="class"></ng-container>
</div>
<div>
  <ws-kit-tabs>
    <ws-kit-tabs-nav>
      <ws-kit-tabs-tab *ngFor="let file of demo.code; let index = index" [id]="index">{{ file.file }}</ws-kit-tabs-tab>
    </ws-kit-tabs-nav>
    <ng-container *ngFor="let file of demo.code; let index = index">
      <ws-kit-tabs-content *kitSlide="index">
        <pre class="code-src"><code [ngClass]="[file.language, 'language-' + file.language, 'hljs']"
                                    [innerHtml]="code[file.file]"></code></pre>
      </ws-kit-tabs-content>
    </ng-container>
  </ws-kit-tabs>
</div>
