:host {
  border-radius: 3px;
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  display: block;
  margin: 32px 0;
  overflow: hidden;
}

.demo {
  padding: 32px;
}

.code-src {
  padding: 16px;
}

.readme {
  background: rgba(0, 0, 0, .03);
  padding: 8px 16px;
}

.title {
  background: #eeeeee;
  margin: 0;
  padding: 16px;
}

ws-kit-tabs-tab {
  &:first-of-type {
    font-weight: 600;
  }
}
