<ws-kit-tabs>
  <ws-kit-tabs-nav>
    <ws-kit-tabs-tab id="preview">Preview</ws-kit-tabs-tab>
    <ws-kit-tabs-tab id="sources">Sources</ws-kit-tabs-tab>
  </ws-kit-tabs-nav>

  <ws-kit-tabs-content *kitSlide="'preview'">
    <ng-container *ngComponentOutlet="class"></ng-container>
  </ws-kit-tabs-content>
  <ws-kit-tabs-content *kitSlide="'sources'">
    <div *ngFor="let source of sources">
      <h4>{{ source.fileName }}</h4>
      <pre class="code-src"><code [ngClass]="[getLangByExt(source.type), 'language-' + getLangByExt(source.type), 'hljs']"
                                  [innerHtml]="code[source.fileName]"></code></pre>
    </div>
  </ws-kit-tabs-content>
</ws-kit-tabs>
