<ng-container [ngSwitch]="module">
  <app-kit-accordion *ngSwitchCase="'accordion'" [content]="content"></app-kit-accordion>
  <app-kit-alert *ngSwitchCase="'alert'" [content]="content"></app-kit-alert>
  <app-kit-auto-complete *ngSwitchCase="'auto-complete'" [content]="content"></app-kit-auto-complete>
  <app-kit-badge *ngSwitchCase="'badge'" [content]="content"></app-kit-badge>
  <app-kit-breadcrumb *ngSwitchCase="'breadcrumb'" [content]="content"></app-kit-breadcrumb>
  <app-kit-button *ngSwitchCase="'button'" [content]="content"></app-kit-button>
  <app-kit-checkbox *ngSwitchCase="'checkbox'" [content]="content"></app-kit-checkbox>
  <app-kit-color-picker *ngSwitchCase="'color-picker'" [content]="content"></app-kit-color-picker>
  <app-kit-date-picker *ngSwitchCase="'date-picker'" [content]="content"></app-kit-date-picker>
  <app-kit-dropdown-menu *ngSwitchCase="'dropdown-menu'" [content]="content"></app-kit-dropdown-menu>
  <app-kit-form *ngSwitchCase="'form'" [content]="content"></app-kit-form>
  <app-kit-input *ngSwitchCase="'input'" [content]="content"></app-kit-input>
  <app-kit-loading-bar *ngSwitchCase="'loading-bar'" [content]="content"></app-kit-loading-bar>
  <app-kit-menu *ngSwitchCase="'menu'" [content]="content"></app-kit-menu>
  <app-kit-modal *ngSwitchCase="'modal'" [content]="content"></app-kit-modal>
  <app-kit-notification *ngSwitchCase="'notification'" [content]="content"></app-kit-notification>
  <app-kit-pagination *ngSwitchCase="'pagination'" [content]="content"></app-kit-pagination>
  <app-kit-popover *ngSwitchCase="'popover'" [content]="content"></app-kit-popover>
  <app-kit-radio *ngSwitchCase="'radio'" [content]="content"></app-kit-radio>
  <app-kit-select *ngSwitchCase="'select'" [content]="content"></app-kit-select>
  <app-kit-tabs *ngSwitchCase="'tabs'" [content]="content"></app-kit-tabs>
  <app-kit-tag *ngSwitchCase="'tag'" [content]="content"></app-kit-tag>
  <app-kit-textarea *ngSwitchCase="'textarea'" [content]="content"></app-kit-textarea>
  <app-kit-toggle *ngSwitchCase="'toggle'" [content]="content"></app-kit-toggle>
  <app-kit-tooltip *ngSwitchCase="'tooltip'" [content]="content"></app-kit-tooltip>
</ng-container>
