<kit-accordion [activateFirst]="true">
  <kit-accordion-panel>
    <kit-accordion-title>Panel 1</kit-accordion-title>
    <kit-accordion-content *kitCollapse>
      Panel 1 content
    </kit-accordion-content>
  </kit-accordion-panel>
  <kit-accordion-panel>
    <kit-accordion-title>Panel 2</kit-accordion-title>
    <kit-accordion-content *kitCollapse>
      Panel 2 content
    </kit-accordion-content>
  </kit-accordion-panel>
  <kit-accordion-panel>
    <kit-accordion-title>Panel 3</kit-accordion-title>
    <kit-accordion-content *kitCollapse>
      Panel 3 content
    </kit-accordion-content>
  </kit-accordion-panel>
</kit-accordion>
