<app-title [link]="'select'">Select</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-select [options]="options"
              [valueField]="'id'"
              [labelFiled]="'id'"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-dropdown'">
  <kit-select [type]="'dropdown'"
              [options]="options"
              [valueField]="'id'"
              [labelFiled]="'id'"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-list'">
  <kit-select [type]="'list'"
              [options]="options"
              [valueField]="'id'"
              [labelFiled]="'id'"
              [(ngModel)]="selected"></kit-select>
</app-demo>
