<app-title [link]="'select'">Select</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-select [options]="options"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-dropdown'">
  <kit-select [type]="'dropdown'"
              [options]="options"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-list'">
  <kit-select [type]="'list'"
              [options]="options"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-complex-options'">
  <kit-select [options]="objOptions"
              [valueField]="'id'"
              [labelFiled]="'text'"
              [(ngModel)]="selected"></kit-select>
</app-demo>

<app-demo [content]="content" [id]="'demo-option-template'">
  <kit-select [type]="'dropdown'"
              [options]="options"
              [optionTemplateRef]="optionTemplate"
              [(ngModel)]="selected"></kit-select>
  <ng-template #optionTemplate let-option>
    {{ option | json }}
  </ng-template>
</app-demo>
