<app-title [link]="'spinner'">Spinner</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-spinner></kit-spinner>
</app-demo>

<app-demo [content]="content" [id]="'demo-color'">
  <kit-spinner [color]="'green1'"></kit-spinner>
  <kit-spinner [color]="'orange1'"></kit-spinner>
  <kit-spinner [color]="'red1'"></kit-spinner>
  <kit-spinner [color]="'grey6'"></kit-spinner>
</app-demo>

<app-demo [content]="content" [id]="'demo-size'">
  <kit-spinner [size]="100"></kit-spinner>
</app-demo>

<app-demo [content]="content" [id]="'demo-type'">
  <kit-spinner [type]="'spin-1'"></kit-spinner>
  <kit-spinner [type]="'spin-2'"></kit-spinner>
  <kit-spinner [type]="'spin-3'"></kit-spinner>
  <kit-spinner [type]="'ping-1'"></kit-spinner>
  <kit-spinner [type]="'ping-2'"></kit-spinner>
  <kit-spinner [type]="'tile-1'"></kit-spinner>
  <kit-spinner [type]="'tile-2'"></kit-spinner>
</app-demo>
