@import "../../core/params";

:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.layout-full {
  @extend :host;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

.layout-header {
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  height: $headerHeight;
  z-index: 2;
}

.layout-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
}

.layout-content-wrapper {
  box-shadow: inset 0 0 39px -10px rgba(0, 0, 0, .1);
  flex-grow: 1;
  padding: 16px 64px;
}

.layout-row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  overflow: hidden;
}

.layout-side {
  flex-shrink: 0;
  font-size: .95rem;
  overflow: hidden;
  padding: 16px 8px;
  width: $sideWidth;
}

.layout-footer {
  box-shadow: 0 0 30px rgba(0, 0, 0, .1);
  display: block;
  flex-shrink: 0;
  padding: 32px 64px;
  text-align: right;
  z-index: 2;
}
