@import "../../core/params";
@import "../../shared/layout/layout";

.layout-header {
  justify-content: space-between;
  .logo {
    box-sizing: border-box;
    color: #ffffff;
    font-weight: 600;
    line-height: $headerHeight;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: $sideWidth;
  }
  .menu {
    align-items: center;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0 64px;
    .link {
      color: #444444;
      padding: 8px;
    }
  }
}

.layout-content {
  overflow-y: auto;
}

.layout-side {
  background: $sideColor;
  box-sizing: border-box;
  color: #ffffff;
  overflow-y: auto;
  padding: 8px;
}
