:host {
  background: #ffffff;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-size: 1em;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding: 4px 8px;
  text-align: left;
  width: 100%;
  &:hover {
    background: #eeeeee;
  }
  &:active {
    color: #444444;
  }
}
