<app-title [link]="'tooltip'">Tooltip</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <span [kitTooltip]="'hello'">Tooltip here!</span>
</app-demo>

<app-demo [content]="content" [id]="'demo-side'">
  <span [kitTooltip]="'hello'" [kitTooltipPosition]="'top'">Tooltip TOP!</span>
  <span [kitTooltip]="'hello'" [kitTooltipPosition]="'right'">Tooltip RIGHT!</span>
  <span [kitTooltip]="'hello'" [kitTooltipPosition]="'bottom'">Tooltip BOTTOM!</span>
  <span [kitTooltip]="'hello'" [kitTooltipPosition]="'left'">Tooltip LEFT!</span>
</app-demo>
