PLAYGROUND MUST BE CLEAN!
DO NOT COMMIT ANYTHING HERE!

<kit-color-picker [(ngModel)]="color"></kit-color-picker>
{{ color }}

<hr>
<!---->
<input [kitColorPickerPopup] [(ngModel)]="color2">
<!---->
<hr>
<!---->
<form [formGroup]="form">
  <input [formControlName]="'color'" [kitColorPickerPopup]>
</form>
<!---->
<hr>
<!---->
<button (click)="displ = !displ">togl</button>
<div *ngIf="displ">
  <kit-color-picker [(ngModel)]="color3" [debounce]="300"></kit-color-picker>
  <input [kitColorPickerPopup] [(ngModel)]="color3" [debounce]="300">
  {{ color3 }}
</div>
