:host {
  ---background: var(--ui-loading-bar-background, #2399e5);
  ---box-shadow: var(--ui-loading-bar-box-shadow, -7px 2px 11px 0 #2399e5);
  ---height: var(--ui-loading-bar-height, 2px);
  position: relative;
  z-index: 9999;
}

:host {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.bar {
  background: var(---background);
  box-shadow: var(---box-shadow);
  height: var(---height);
  min-height: 1px;
}
