<app-title [link]="'tag'">Tag</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-tag>Just a tag</kit-tag>
</app-demo>

<app-demo [content]="content" [id]="'demo-color'">
  <kit-tag [color]="'default'">Default color</kit-tag>
  <kit-tag [color]="'primary'">Primary color</kit-tag>
  <kit-tag [color]="'info'">Info color</kit-tag>
  <kit-tag [color]="'success'">Success color</kit-tag>
  <kit-tag [color]="'warning'">Warning color</kit-tag>
  <kit-tag [color]="'error'">Error color</kit-tag>
</app-demo>
