<kit-accordion [multiple]="true">
  <kit-accordion-panel [title]="'Panel 1'">
    Praesent molestie ligula quam, a elementum dolor vestibulum sed.
  </kit-accordion-panel>
  <kit-accordion-panel [title]="'Panel 2'">
    Nunc ac libero nulla.<br>
    Nulla facilisi. Ut vestibulum dolor ut urna placerat, vel aliquet nisl bibendum. Fusce id risus dapibus, maximus
    metus sit amet, aliquet risus.
  </kit-accordion-panel>
  <kit-accordion-panel [title]="'Panel 3'">
    Praesent molestie ligula quam.
  </kit-accordion-panel>
</kit-accordion>
