<div styler="layoutFull">
  <div styler="layoutHeader">
    <a [routerLink]="['/ui-default']" styler="logo">@ngx-kit/ui-default</a>
    <ul styler="menu">
      <li><a styler="menuLink" [routerLink]="['/ngx-kit']">ngx-kit</a></li>
      <li><a styler="menuLink" href="https://github.com/ngx-kit/styler" target="_blank">styler</a></li>
    </ul>
    <div styler="githubStar">
      <a class="github-button"
         href="https://github.com/ngx-kit/ui-default"
         data-size="large"
         data-show-count="true"
         aria-label="Star ngx-kit/ui-default on GitHub">Star</a>
    </div>
  </div>
  <div styler="layoutContent">
    <div styler="layoutRow">
      <div styler="layoutSide">
        <app-content-menu [content]="content"></app-content-menu>
      </div>
      <div styler="layoutContent">
        <div styler="layoutContentWrapper">
          <router-outlet></router-outlet>
        </div>
        <div styler="layoutFooter">
          <div>
            Created and maintained by <a href="https://nvx.me" target="_blank">Sasha Novik</a>
          </div>
          <div>
            <a href="https://github.com/ngx-kit/ui-default/releases" target="_blank">Changelog</a>
            <a href="https://github.com/ngx-kit/ui-default" target="_blank">GitHub</a>
            <a href="https://discord.gg/66Tt9WT" target="_blank">Discord</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
