:host {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  padding: .5em 1em;
  position: relative;
  text-align: left;
  transition-duration: .15s;
  transition-property: background;
  user-select: none;
  width: 100%;
  outline: none;
  &:hover {
    background: #eee;
  }
  &:focus, &:active {
    outline: 2px solid #0062ff;
    outline-offset: -1px;
  }
}

.content {
  flex-grow: 1;
}

.chevron {
  flex-shrink: 0;
  transform: rotate(0deg);
  transition-duration: .15s;
  transition-property: transform;
  &.-active {
    transform: rotate(180deg);
  }
}
