:host {
  background: var(--ui-accordion-title-background, transparent);
  border: 0;
  border-bottom: var(--ui-accordion-title-border, 1px solid #dddddd);
  color: var(--ui-accordion-title-color, #000000);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  outline: none;
  padding: var(--ui-accordion-title-padding, .5em 1em);
  position: relative;
  text-align: left;
  transition-duration: .15s;
  transition-property: background;
  user-select: none;
  width: 100%;
  &:hover {
    background: var(--ui-accordion-title-hover-background, #eeeeee);
  }
  &:focus, &:active {
    outline: var(--ui-accordion-title-outline, 2px solid #3c40c6);
    outline-offset: -1px;
  }
}

.content {
  flex-grow: 1;
}

.chevron {
  flex-shrink: 0;
  transform: rotate(0deg);
  transition-duration: .15s;
  transition-property: transform;
  &.-active {
    transform: rotate(180deg);
  }
}
