@import "params";

.header {
  align-items: center;
  background: #111715;
  color: #f0f0f0;
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  justify-content: space-between;
  padding: 24px 32px;
  .brand {
    font-size: 1.5rem;
    font-weight: 600;
    white-space: nowrap;
  }
  .nav {
    a {
      margin-left: 24px;
    }
  }
  a {
    color: #e9e9e9;
    text-decoration: none;
  }
}

.block {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 96px 64px;
  }
  h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3rem;
  }
  h2 {
    border-bottom: 0;
    font-size: 1.7rem;
    font-weight: 300;
    line-height: 2.2rem;
    margin: 0 0 64px;
  }
  pre {
    padding: 16px;
  }
  &.dark {
    background: $darkBackground;
    color: #f0f0f0;
  }
  &.light {
    background: $lightBackground;
    color: #333333;
    position: relative;
    h1, h2, h3 {
      color: $brandColor;
    }
    a {
      color: #333333;
    }
  }
  &.blue {
    background: $brandBackground;
    color: #ffffff;
    h1, h2, h3 {
      color: #ffffff;
    }
  }
}

.promo {
  min-height: 600px;
  .wrapper {
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .logo {
    flex-shrink: 0;
    padding: 0 50px;
    width: 400px;
  }
}

.structure {
  .wrapper {
    flex-direction: column;
    text-align: center;
  }
  h2 {
    border-bottom: 0;
    font-size: 2rem;
    padding: 0;
  }
  .packages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .package {
      background: #ffffff;
      border-radius: 4px;
      box-shadow: 0 0 30px 6px rgba(31, 51, 73, .1);
      margin: 0 32px;
      padding: 32px;
      text-decoration: none;
      transition: .2s box-shadow;
      width: 200px;
      h3 {
        margin: 0 0 16px;
        padding: 0;
      }
      img {
        margin-bottom: 8px;
        max-width: 60%;
      }
      &:hover {
        box-shadow: 2px 0 50px 12px rgba(31, 51, 73, .2);
      }
    }
  }
}

.video {
  .container {
    background: #111111;
    height: 480px;
    width: 854px;
  }
}

.how-it-works {
  .steps {
    text-align: left;
    width: 700px;
  }
}

.made-with {
  .project {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-bottom: 48px;
    text-align: left;
    width: 700px;
    .picture {
      background: #3b61bd;
      flex-shrink: 0;
      height: 150px;
      width: 250px;
      img {
        box-shadow: 4px 4px 16px rgba(0, 0, 0, .2);
      }
    }
    .info {
      flex-grow: 1;
      padding: 0 32px;
      h3 {
        margin-top: 0;
      }
    }
    .links {
      border-top: 1px solid #7ea9fc;
      margin-top: 16px;
      padding-top: 16px;
    }
    .links a {
      background: #eed33c;
      border-radius: 8px;
      color: #333333;
      display: inline-block;
      line-height: 2.2em;
      margin-right: 8px;
      padding: 0 16px;
      text-decoration: none;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer {
  background: #111715;
  color: #f0f0f0;
  font-size: .9rem;
  padding: 64px 0;
  text-align: center;
  .logo img {
    width: 46px;
  }
}

@include for-tablet-portrait() {
  .block {
    .wrapper {
      padding: 32px;
      width: 100%;
    }
    h1 {
      font-size: 2.2rem;
    }
    h2 {
      font-size: 1.4rem;
    }
  }
  .promo {
    min-height: auto;
    .logo {
      padding: 0 16px;
      width: 40%;
    }
  }
  .video {
    .container {
      width: auto;
    }
  }
  .how-it-works {
    .steps {
      box-sizing: border-box;
      padding: 0 16px;
      width: 100%;
    }
  }
  .made-with {
    .project {
      width: 100%;
    }
  }
}

@include for-mobile() {
  .promo {
    .wrapper {
      flex-direction: column;
    }
  }
  .structure {
    .packages {
      flex-direction: column;
      .package {
        margin: 0 0 32px;
      }
    }
  }
  .made-with {
    .project {
      flex-direction: column;
      .info {
        margin-top: 24px;
      }
    }
  }
}
