<div class="header">
  <a href="#" class="brand">ngx-kit</a>
  <div class="nav">
    <a routerLink="/core">Core</a>
    <a routerLink="/collection">Collection</a>
    <a href="https://twitter.com/ngxkit" target="_blank">Twitter</a>
    <a href="https://github.com/ngx-kit/ngx-kit" target="_blank">GitHub</a>
  </div>
</div>
<div class="content">
  <div class="block dark promo">
    <div class="wrapper">
      <div class="logo">
        <img src="../../../assets/ngx-kit-logo.svg">
      </div>
      <div class="intro">
        <h1>Boost your Angular development</h1>
        <h2>Components customizing should be simple. Just generate components from ngx-kit collection and modify them as
          you like.</h2>
      </div>
    </div>
  </div>
  <div class="block light structure">
    <div class="wrapper">
      <h2>Ngx-kit packages</h2>
      <div class="packages">
        <a class="package" routerLink="/core">
          <div>
            <img src="../../../assets/core.svg">
          </div>
          <h3>Core</h3>
          Low level services and directives for hiding complex logic
        </a>
        <a class="package" routerLink="/collection">
          <div>
            <img src="../../../assets/collection.svg">
          </div>
          <h3>Collection</h3>
          Set of components based on ngx-kit core and packed into Angular-cli schematics
        </a>
      </div>
    </div>
  </div>
  <div class="block dark video">
    <div class="wrapper">
      <h2>Watch the video</h2>
      <div class="container">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/th9fhD1e3d4" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="demo">
        <a href="https://stackblitz.com/edit/ngx-kit-date-picker-demo" target="_blank">Stackblitz demo</a>
      </div>
    </div>
  </div>
  <div class="block light how-it-works">
    <div class="wrapper">
      <h2>How it works</h2>
      <div class="steps">
        <div>
          <h3>Add ngx-kit to your project</h3>
          <pre>{{ codeExamples[0] }}</pre>
        </div>
        <div>
          <h3>Generate UI module</h3>
          <p>Pick a module from <a routerLink="/collection">Collection</a> and put the code to your project.</p>
          <p>A button for example:</p>
          <pre>{{ codeExamples[1] }}</pre>
        </div>
        <div>
          <h3>Import generated module</h3>
          <pre>{{ codeExamples[2] }}</pre>
        </div>
        <div>
          <h3>Use component</h3>
          <pre>{{ codeExamples[3] }}</pre>
        </div>
        <div>
          <h3>Modify by your requirements</h3>
          Only complex (but stable) logic is stored in <a routerLink="/core">Core</a>, so you can change generated
          templates and styles in any way.
        </div>
      </div>
    </div>
  </div>
  <div class="block blue made-with">
    <div class="wrapper">
      <h2>Made with ngx-kit</h2>
      <div class="project">
        <div class="picture">
          <img src="../assets/alma-screenshot.png" alt="alma screenshot">
        </div>
        <div class="info">
          <h3>Alma</h3>
          eCommerce Angular demo based on ngx-kit
          <div class="links">
            <a href="https://alma.ngx-kit.com" target="_blank">Live</a>
            <a href="https://github.com/ngx-kit/alma" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="picture">
          <img src="../assets/askgames-screenshot.png" alt="askgames screenshot">
        </div>
        <div class="info">
          <h3>ASKGAMES</h3>
          Questions&answers portal about games
          <div class="links">
            <a href="https://askgames.net" target="_blank">Live</a>
            <a href="https://github.com/navix/askgames" target="_blank">GitHub</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="logo">
    <img src="../../../assets/ngx-kit-logo.svg">
  </div>
  &copy; ngx-kit {{ year }}
</div>
