<div class="layout-full">
  <div class="layout-content">
    <h1 class="brand">
      <img src="../../../assets/site-logo.png">
    </h1>
    <div class="products">
      <a [routerLink]="['/core']" class="panel -core">
        <span class="wrapper">
          <span class="pkg">@ngx-kit/</span>
          <span class="name">core</span>
          <span class="info">Toolkit for creating UI components for your Angular application</span>
        </span>
      </a>
      <a [routerLink]="['/collection']" class="panel -collection">
        <span class="wrapper">
          <span class="pkg">@ngx-kit/</span>
          <span class="name">collection</span>
          <span class="info">UI components presets based on ngx-kit</span>
        </span>
      </a>
      <a href="https://github.com/ngx-kit/styler" class="panel -styler">
        <span class="wrapper">
          <span class="pkg">@ngx-kit/</span>
          <span class="name">styler</span>
          <span class="info">CSS-in-JSS tools for Angular applications</span>
        </span>
      </a>
    </div>
    <div class="footer">
      Created and maintained by <a href="https://nvx.me" target="_blank">Sasha Novik</a>
    </div>
  </div>
</div>
