<div *ngFor="let block of schema">
  <h4 (click)="active = block.name" styler="name">{{ block.name }}</h4>
  <ng-container *ngIf="block.name === active">
    <ng-container [ngSwitch]="block.type">
      <div *ngSwitchCase="'input'">
        <ng-container [ngSwitch]="block.input">
          <div *ngSwitchCase="'number'">
            <kit-input [ngModel]="themeModel[block.name]"
                       (ngModelChange)="setNumberModel(block.name, $event)"
            ></kit-input>
          </div>
          <div *ngSwitchCase="'string'">
            <kit-input [(ngModel)]="themeModel[block.name]"></kit-input>
          </div>
          <div *ngSwitchCase="'color'">
            <kit-select [(ngModel)]="themeModel[block.name]"
                        [options]="colorsModel"
                        [optionTemplateRef]="optionTemplate"></kit-select>
            <ng-template #optionTemplate let-option>
              <option [value]="option.value"
                      [style.color]="'#fff'"
                      [style.textShadow]="'1px 1px 2px black'"
                      [style.background]="option.value">
                {{ option.label }}
              </option>
            </ng-template>
          </div>
        </ng-container>
      </div>
      <div *ngSwitchCase="'block'" styler="inner">
        <app-block [schema]="block.schema"
                   [themeModel]="themeModel[block.name]"
                   [colorsModel]="colorsModel">
        </app-block>
      </div>
    </ng-container>
  </ng-container>
</div>
