<app-title [link]="'alert'">Alert</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-alert>Message text</kit-alert>
</app-demo>

<app-demo [content]="content" [id]="'demo-color'">
  <kit-alert [color]="'default'">Default message text</kit-alert>
  <kit-alert [color]="'primary'">Primary message text</kit-alert>
  <kit-alert [color]="'info'">Info message text</kit-alert>
  <kit-alert [color]="'success'">Success message text</kit-alert>
  <kit-alert [color]="'warning'">Warning message text</kit-alert>
  <kit-alert [color]="'error'">Error message text</kit-alert>
</app-demo>

<app-demo [content]="content" [id]="'demo-closable'">
  <kit-alert [closable]="true">Closable message text</kit-alert>
</app-demo>

<app-demo [content]="content" [id]="'demo-close-text'">
  <kit-alert [closable]="true" [closeText]="'Close'">Closable message text with custom closing link text</kit-alert>
</app-demo>

<app-demo [content]="content" [id]="'demo-title'">
  <kit-alert>
    <kit-alert-title>Message title</kit-alert-title>
    Message description
  </kit-alert>
</app-demo>
