<app-title [link]="'color-picker'">Color-picker</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <kit-color-picker [(ngModel)]="color"></kit-color-picker>
  <span>{{ color }}</span>
</app-demo>

<app-demo [content]="content" [id]="'demo-popup'">
  <kit-input [(ngModel)]="color" [kitColorPickerPopup]></kit-input>
  <span>{{ color }}</span>
</app-demo>

<app-demo [content]="content" [id]="'demo-popup2'">
  <button [kitButton] [kitColorPickerPopup] [(kitColorPickerPopupColor)]="color">Pick a color</button>
  <span>{{ color }}</span>
</app-demo>

<app-demo [content]="content" [id]="'demo-debounce'">
  <kit-color-picker [(ngModel)]="color" [debounce]="500"></kit-color-picker>
  <span>{{ color }}</span>
</app-demo>
