:host {
  align-items: center;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.backdrop {
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.modal {
  background: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .25);
  display: flex;
  flex-direction: column;
  max-height: 90%;
  max-width: 90%;
  z-index: 1;
  &.size-s {
    width: 250px;
  }
  &.size-m {
    width: 500px;
  }
  &.size-l {
    width: 800px;
  }
}

.header {
  align-items: center;
  background: #bfbfbf;
  display: flex;
  flex-direction: row;
  padding: 16px;
  .title {
    flex-grow: 1;
  }
  .close {
    background: transparent;
    border: none;
    color: #ffffff;
  }
}

.body {
  flex-grow: 1;
  overflow: auto;
  padding: 16px;
}
