:host {
  ---background: var(--ui-modal-background, #ffffff);
  ---color: var(--ui-modal-color, inherit);
  ---box-shadow: var(--ui-modal-box-shadow, 0 0 20px 0 rgba(0, 0, 0, .25));
  ---border-radius: var(--ui-modal-border-radius, 0);
  ---body-padding: var(--ui-modal-body-padding, 1.5em);
}

.modal {
  background: var(---background);
  border-radius: var(---border-radius);
  box-shadow: var(---box-shadow);
  color: var(---color);
  display: flex;
  flex-direction: column;
  margin-top: 5em;
  z-index: 1;
  &.size-s {
    width: 250px;
  }
  &.size-m {
    width: 500px;
  }
  &.size-l {
    width: 800px;
  }
}

.header {
  align-items: center;
  background: #bfbfbf;
  display: flex;
  flex-direction: row;
  padding: 16px;
  .title {
    flex-grow: 1;
  }
  .close {
    background: transparent;
    border: none;
    color: #ffffff;
  }
}

.body {
  flex-grow: 1;
  overflow: auto;
  padding: var(---body-padding);
}
