<app-title [link]="'button'">Button</app-title>

<app-demo [content]="content" [id]="'demo-default'">
  <button [kitButton]>Click!</button>
</app-demo>
<app-demo [content]="content" [id]="'demo-color'">
  <button [kitButton] [color]="'primary'">Primary color</button>
  <button [kitButton] [color]="'success'">Success color</button>
  <button [kitButton] [color]="'warning'">Warning color</button>
  <button [kitButton] [color]="'error'">Error color</button>
</app-demo>
<app-demo [content]="content" [id]="'demo-size'">
  <button [kitButton] [size]="'xs'">Size=xs</button>
  <button [kitButton] [size]="'s'">Size=s</button>
  <button [kitButton] [size]="'m'">Size=m</button>
  <button [kitButton] [size]="'l'">Size=l</button>
  <button [kitButton] [size]="'xl'">Size=xl</button>
</app-demo>
<app-demo [content]="content" [id]="'demo-disabled'">
  <button [kitButton] [disabled]="true">Disabled</button>
</app-demo>

<app-demo [content]="content" [id]="'demo-group-default'">
  <kit-button-group>
    <button [kitButton]>Grouped 1</button>
    <button [kitButton]>Grouped 2</button>
    <button [kitButton]>Grouped 3</button>
  </kit-button-group>
</app-demo>
<app-demo [content]="content" [id]="'demo-group-vertical'">
  <kit-button-group [direction]="'vertical'">
    <button [kitButton]>Vert Grouped 1</button>
    <button [kitButton]>Vert Grouped 2</button>
    <button [kitButton]>Vert Grouped 3</button>
  </kit-button-group>
</app-demo>
<app-demo [content]="content" [id]="'demo-group-selectable'">
  <kit-button-group [selectable]="true">
    <button [kitButton]>Selectable 1</button>
    <button [kitButton]>Selectable 2</button>
    <button [kitButton]>Selectable 3</button>
  </kit-button-group>
</app-demo>
<app-demo [content]="content" [id]="'demo-group-multiple'">
  <kit-button-group [selectable]="true" [multiple]="true">
    <button [kitButton]>Selectable 1</button>
    <button [kitButton]>Selectable 2</button>
    <button [kitButton]>Selectable 3</button>
  </kit-button-group>
</app-demo>
