<button [kitButton] [color]="'default'" (action)="open('default')">Message with default color</button>
<button [kitButton] [color]="'primary'" (action)="open('primary')">Message with primary color</button>
<button [kitButton] [color]="'info'" (action)="open('info')">Message with info color</button>
<button [kitButton] [color]="'success'" (action)="open('success')">Message with success color</button>
<button [kitButton] [color]="'warning'" (action)="open('warning')">Message with warning color</button>
<button [kitButton] [color]="'error'" (action)="open('error')">Message with error color</button>
