@import url('https://fonts.googleapis.com/css?family=Droid+Sans+Mono|Source+Sans+Pro:300,400,700');

body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', Arial;
  font-size: 16px;
  line-height: 1.35rem;
  color: #444444;
}

button, input, textarea, select {
  font-family: 'Source Sans Pro', Arial;
}

h2 {
  padding: 8px 0;
  border-bottom: 1px solid #eeeeee;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
}

table th {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
  font-weight: 600;
}

table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}

code {
  background: #f7f7f7;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 0.75em;
}

pre {
  background: #f7f7f7;
  margin: 0;
  overflow-x: auto;
  padding: 8px;
}

pre code {
  background: transparent;
  padding: 0;
}

tt, code, kbd, samp {
  font-family: 'Droid Sans Mono', monospace;
}
