/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial;
  font-size: 14px;
}

button, input, textarea, select {
  font-family: 'Montserrat', Arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
}

table th {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
  font-weight: 600;
}

table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}
