/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', Arial;
  font-size: 14px;
}
