@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 400;
  src: local('Interface'), local('Interface-Regular'), url(/assets/Interface-Regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Interface';
  font-style: normal;
  font-weight: 600;
  src: local('Interface'), local('Interface-Medium'), url(/assets/Interface-Medium.woff2) format('woff2');
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Interface', Arial;
  font-size: 13px;
}

button, input, textarea, select {
  font-family: 'Interface', Arial;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #e9e9e9;
  width: 100%;
}

table th {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
  white-space: nowrap;
  font-weight: 600;
}

table td {
  border: 1px solid #e9e9e9;
  padding: 8px 16px;
  text-align: left;
}

pre {
  margin: 0;
  padding: 0;
}
