<div styler="layoutFull">
  <div styler="layoutContent">
    <h1 styler="brand">
      <img src="../../assets/site-logo.png">
    </h1>
    <div styler="products">
      <a [routerLink]="['/ngx-kit']" styler="panelKit">
        <span styler="panelWrapper">
          <span styler="panelPkg">@ngx-kit/</span>
          <span styler="panelName">ngx-kit</span>
          <span styler="panelInfo">Low-level components and services for creating your own Angular UI-kit</span>
        </span>
      </a>
      <a [routerLink]="['/ui-base']" styler="panelUi">
        <span styler="panelWrapper">
          <span styler="panelPkg">@ngx-kit/</span>
          <span styler="panelName">ui-base</span>
          <span styler="panelInfo">Preset of UI components based on ngx-kit</span>
        </span>
      </a>
      <a href="https://github.com/ngx-kit/styler" styler="panelStyler">
        <span styler="panelWrapper">
          <span styler="panelPkg">@ngx-kit/</span>
          <span styler="panelName">styler</span>
          <span styler="panelInfo">CSS-in-JSS tools for Angular applications</span>
        </span>
      </a>
    </div>
    <div styler="footer">
      Created and maintained by <a href="https://nvx.me" target="_blank">Sasha Novik</a>
    </div>
  </div>
</div>
