:host {
  display: block;
}

.alert {
  border-radius: 3px;
  display: block;
  margin: 8px 0;
  padding: 8px 16px;
  &.color-default {
    background: #eeeeee;
    border: 1px solid #dddddd;
  }
  &.color-primary {
    background: #86cce9;
    border: #00bbfa;
  }
}

.title {
  display: block;
  font-size: 1.2rem;
  margin: 4px 0 8px;
}

.close {
  background: transparent;
  border: 0;
  cursor: pointer;
  float: right;
  margin: 0;
  padding: 0;
}
