:host {
  --_background: var(--ui-modal-background, #ffffff);
  --_color: var(--ui-modal-color, inherit);
  --_box-shadow: var(--ui-modal-box-shadow, 0 0 20px 0 rgba(0, 0, 0, .25));
  --_border-radius: var(--ui-modal-border-radius, 0);
  --_body-padding: var(--ui-modal-body-padding, 1.5em);
}

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.dialog {
  background: var(--_background);
  border-radius: var(--_border-radius);
  box-shadow: var(--_box-shadow);
  color: var(--_color);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.header {
  align-items: center;
  background: #bfbfbf;
  display: flex;
  flex-direction: row;
  padding: 16px;
  .title {
    flex-grow: 1;
  }
  .close {
    background: transparent;
    border: none;
    color: #ffffff;
  }
}

.body {
  flex-grow: 1;
  overflow: auto;
  padding: var(--_body-padding);
}
