:host {
  display: block;
  margin-bottom: 32px;
}

.head {
  cursor: pointer;
  padding: 0;
  margin: 0;
  code {
    background: transparent;
    display: block;
    font-size: 1rem;
    padding: 0;
    text-decoration: underline;
  }
}

.param-doc ::ng-deep p {
  margin: 0;
}
